{% extends 'base.html' %}
{% block content %}
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">{{ course.name }}</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">{{ course.description }}</p>
                    <a class="btn btn-light btn-xl" href="/academy/course/{{ course.id }}/subscribe">Inscribete $2000!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Todos los cursos ofrencen:</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Docentes calificados</h3>
                        <p class="text-muted mb-0">Todos nuestros docentes tienen certificacion!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Clases en linea</h3>
                        <p class="text-muted mb-0">No te pierdas ninguna clase, todas quedan grabadas.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Aprende desde cualquier lugar</h3>
                        <p class="text-muted mb-0">No pongas limites a tu conocimiento!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Aprende con un clima amistoso</h3>
                        <p class="text-muted mb-0">Todos los cursos se realizan con mucha paciencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}